@page
@model Torok_Erika_Tunde.Pages.Clienti.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ID" />
            <div class="form-group">
                <label asp-for="Client.Nume" class="control-label"></label>
                <input asp-for="Client.Nume" class="form-control" />
                <span asp-validation-for="Client.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Produs" class="control-label"></label>
                <input asp-for="Client.Produs" class="form-control" />
                <span asp-validation-for="Client.Produs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Pret" class="control-label"></label>
                <input asp-for="Client.Pret" class="form-control" />
                <span asp-validation-for="Client.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.DataProcesare" class="control-label"></label>
                <input asp-for="Client.DataProcesare" class="form-control" />
                <span asp-validation-for="Client.DataProcesare" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.MaterialID" class="control-label">Material Name</label>
                <select asp-for="Client.MaterialID" class="form-control" asp-items="ViewBag.MaterialID">
                </select>
                <span asp-validation-for="Client.MaterialID" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
